.whole-dashboard{
    background: #000000;
    color: #fff;
}
#menu{
    background-color: #D0B999;
    width : 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
#menu .logo{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
    margin-top: 50px;
}
#menu .logo img{
    height: 55px;
     margin-right: 10px;
     background-color: chartreuse;
     border-radius: 50%;
}
#menu .items{
    margin-top: 30px;
    margin-left: 20px;
    line-height: 52px;
}
.dyn{
    font-size: 26px;
}
#menu .items li{
    list-style: none;
    padding: 15px, 90px;
    transition:  0.3s ease;
}
#menu .items li :hover{
    background-color: #C8AB8D;
    width: 50vw; 
    cursor: pointer;
}

#menu .items li :hover a{
          color:#F3F4F6;
}
#menu .items li a{
    text-decoration: none;
    color: #fff;;
    font-weight: 300px;
    width: 100%;
    height: 100%;
    font-size: 16px; 
    text-align: center;
    line-height: 30px;
    margin: 0 50px 0 25px;
    transition:  0.3s ease;
}
.dashboard-notify-icon{
    margin-right: 3rem;
    margin-top: 4rem;
    font-size: x-large;
    color: #bbbdbc;
}

.interf-section{
    position: absolute;
    margin-left: 18.5em;
    padding: 0;
    
}
.interface{
    width: 100%;
    height: 10vh;
    margin-left: 7px;
    position: relative;
    
}
.interface .navigation {
    position: fixed;
    width: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 30px 30px;
    border-bottom: 3px solid #D0B999;
    margin-left: 10px;
}
.interface .navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    width: 30vw;
    border-radius: 50px;
    border: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-color: #D0B999;
    
}
.interface .navigation .search input{
    border: none;
    outline: none;
    font-size: 15px;
    margin-left: 15px;
    color: #fff;
    font-weight: 500; 
    background-color: #D0B999;
}
.interface .navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}
.interface .navigation .profile img{
  width: 35px;
  height: 35px;
  position: fixed;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -29px;
}
.interface .navigation .profile .svg{
    color: #444a53;
    position: fixed;
    font-weight: 700;
    margin-left: -60px;
    height: 26px; 
    width: 26px;
}
.i-name{
    color: #C8AB8D;
    font-size: 30px;
    position: fixed;
    font-weight: 700;
    margin-top: 6em;
    left: 12.5em;
}
.n1{
    color: #444a53;
    font-size: 0.70em;
    position: relative;
    margin-top: 2rem;
}
.n1 img{
    height: 18px;
    position: absolute;
    left: 10px;
    top: 0.8em;
    color: #444a53;
}
.values-boxes{
    display: flex;
    flex-direction: column;
}
.values {
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.values .val-box1{
    background-color: #D0B999;
    width: 230px;
    padding: 16px 29px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    margin-left: 3em;
    margin-top: 29.4em;
    line-height: 20px;
}
.values .val-box2{
    background-color: #D0B999;
    width: 230px;
    padding: 16px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    margin-left: 20em;
    margin-top: 29.4em;
    line-height: 20px;
}
.values .val-box3{
    position:relative;
    background-color: #D0B999;
    width: 230px;
    padding: 16px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    margin-left: 37em;
    margin-top: 29.4em;
    line-height: 20px;
}
.values .val-box4{
    position:relative;
    background-color: #D0B999;
    width: 230px;
    padding: 16px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    margin-left: 54em;
    margin-top: 29.4em;
    line-height: 20px;
}
.values .val-box1 i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}
.values .val-box2 i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}
.values .val-box3 i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}

.values .val-box4 i{
    font-size: 25px;
    width: 60px;
    height: 60px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 15px;
}

.dashboard-head-numbers{
    font-size: 16px;
    font-weight: 600;
}  
.dashboard-span{
    font-size: 15px;
    color: #e9ebed;
}
.board{
    width: 70em;
    margin: 30px;
    overflow: auto;
    background-color: #C8AB8D;
    border-radius: 19px;
}
.board img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}
.dashboard-headings{
    
    font-size: 14px;
}
.dashboard-paragraphs{
    font-weight: 400;
    font-size: 14px;
    color: #e1e2e7;
}
.board .people{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     text-align: start;
     background-color: #D0B999;
}
.board .people-des{
    background-color: #D0B999;
}
.board table{
    border-collapse: collapse;
    width: 70%;
    position: fixed;
    margin-left: 3em;
    margin-top: 20em;
}
.board .active{
    background-color: #D0B999;
    
}
.board .edit{
    background-color: #D0B999;
}
.board .role{
    background-color: #D0B999;
}
thead tr td{
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    font-weight: 40px;
    color: #C8AB8D;
    text-align: start;
    padding: 15px;
}
tbody tr td {
    padding: 10px 10px;
}
.active p{
   background-color: #C8AB8D;
   padding: 2px 10px;
   display: inline-block;
   border-radius: 40px;
   color: #fff;
}
.edit a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}