
*{
   padding: 0;
   margin: 0;
}
 body{
    font-family: sans-serif;
    color: black;
   
 }

 .mami{
   background: #C8AB8D;
  padding: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
form{
  /* margin-left: 250px;
  margin-top:0px;
  padding:30px; */
  
 }
   
   .please{
    margin-top: 20px;
    margin-bottom: 0;
    font-size:20px;
   }
 
  
  .loginbut{
     margin-right: 30px;
     border-radius: 50px;
     padding:10px;
     height: 40px;
     cursor: pointer;
     color: #C8AB8D;
     background-color: white;
     font-weight: bold;
     border: none;
  }
  .loginbut:hover{
   background: rgba(0, 0, 0, 0.485);
  }
  .singn{
   text-decoration: none;
     margin: 20px;
     border-radius: 50px;
     height: 30px;
     width: 70px;
     color: #C8AB8D;
     background-color: white;
     font-weight: bold;
  }
  button a{
   text-decoration: none;
   color: #C8AB8D;
  }
  .login-form{
    margin-top: 5%;
  }
  .login-span-2{
     font-weight: 900;
     color: white;
     margin-left: 10px;
     font-size: 18px;
  }
  .login-span-1{
    margin-left: 30px;
  }
  .input-container .email{
   margin-top: 0;
   padding: 0.5rem; 
     border-radius: .6rem;
  }
  .input-container .password{
     padding: 1rem;
     width: 18.5vw;
     border-radius: .6rem;
  }
  .lines-or{
    display: flex;
    gap: 10%;
    margin-top: 30px;
  }
  .lines-or p{
    margin-top: 10px;
    color: #fff;
  }
 .aimee{
    width: 20%;
    border-bottom: 2px solid #fff;
 }
 .aime{
    width: 20%;
    border-bottom: 2px solid #fff;
 }
 .add, .login-span-2{
    margin-bottom: 10%;
 }
 .welcome{
    font-size:x-large;
 }
 