
.mami {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color:#C8AB8D; 
 }
 form{
      background-color:  rgb(208,185,153);

 }
 .input-container{
   margin-left: 30px;
   width: 300px;
 }
 
 .ap1 {
  
   padding:20px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   text-align: center;
  width: 500px;
 }
 
 .welcome {
   color: #333; 
 }
 
 .please {
   color: #666; 
 }
 
 .input-container {
   text-align: left;
 }
 
 .password {
   width: calc(100% - 16px);
   padding: 10px;
   margin: 8px 0;
   border: 1px solid #ccc;
   border-radius: 4px;
 }
 
 .loginbut {
   background-color: white; 
   color:#C8AB8D; 
   padding: 12px 20px; 
   border: none;
   border-radius: 4px;
   cursor: pointer;
  margin-right: 60px;
   margin-top: 10px;
 }
 .login-span-1{
   margin-left: 20px;
 }

 .loginbut:hover {
   background-color: #00000087; 
 }
 
 .add {
   margin-top: 20px;
 }

 .login-span-1,
 .login-span-2 {
   color: #fff;
 }
 
 .login-span-1:hover,
 .login-span-2:hover {
   text-decoration: underline;
   cursor: pointer;
   
 }
 