.help-dash-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #D0B999;
}
.help-page-dash {  
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .section-dash {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dash-help-header, .dash-help-headings{
    color: #333;
  }