*,*::after,*::before{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
font-size: 1.6rem;
background: #C8AB8D;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:white;
   
}
.nav{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 8vh;
    color: white;
    background: #00000051;
}
.ae{
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  padding: 15rem;
  margin-right: 30%;
}
.ae2{
margin-top: 30px;
color: aliceblue;
margin-bottom: 30px;
}
.ae2-para-input{
  margin-right: 8.5rem;
}
.ae1{
  padding: 10px;
  width: 24vw;
  border-radius: 20px;
}
.me{
    background-image: url(../Screenshot\ 2024-01-12\ 000447.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 90vh;
}
#me{
    margin-left: 10rem;
    width: 70px;
    height: 37px;
    border: none;
    border-radius: 30px;
    color: white;
    background: #C8AB8D;
}
.nav__brand{
    text-transform:uppercase;
    font-weight: bold;
}
.nav__menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:6rem;
}
.ai{
    height: 49px;
    width: 50px;
    margin-left: 0;
    border-left: 0;
    border-radius: 50%;
}
.search-icon{
  color: #000;
  font-size: 24px;
}
.nav__toggler div{
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: #000000;
    transition: 0.4s ease-in;
}
.nav__toggler{
    cursor: pointer;
    display: none;
}

 @media screen and (max-width: 768px) {
    .nav__toggler {
      display: block;
    }
    body{
      background-size: 1100px;
     background-repeat: no-repeat;
    }
    .nav__menu {
      
      position: fixed;
      top: 7vh;
      right: 0;
      width: 50% ;
      height: 93vh;
      background: #0e0000;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s ease-in;
    }
  }
/* nav animation  */
  .nav__active{
    transform: translateX(0);
  }  
  /* toggle icon animation */
  .toggle .line1{
    transform: rotate(-45deg) translate(-4px,5px);
  }
  .toggle .line2{
opacity: 0;
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-4px,-5px);
  }
 