

.container{
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
}
.visit{
    background-image: url('../assets/visitimage.png');
    width:500px;
    height: -2rem;
    justify-content: center;
    color: aliceblue;
    font-size: x-large;
    align-items: center;
    margin-left: 8rem;
    height: 60rem;
    margin-top: 30rem;
  }
  .kigali-rwanda{
    margin-left: 25%;
   padding: 2%;
  }
  .telephone{
    margin-left: 15%;
    padding: 2%;
  }
  .gmail{
    margin-left: 25%;
    padding: 2%;
  }
  .visit h2{
    margin-left: 25%;
    padding-top: 4%;
    
  }
  .buttonn{
    margin-left: 30%;
    display: inline-block; 
       padding:  1.5rem 2.8rem;
       background-color:white;
        border-radius: 2.5rem; 
       font-size: 1.9rem;
       transition: 5s ease;
       gap:4.3rem;
       padding-bottom: -20%;

  }
  .visitname{
    display: flex;
    gap: 0.5rem;
    width: 90%;
    margin-left: 1rem;
    border-radius: .8rem;
  }
  .visittfirst2{

    padding: 0.9rem;
    width: 100%;

   
  }
  .visitsecond3{
    padding: 0.5rem;
    /* width: rem; */
  }
  .visitfith{
  width: 100%;
        padding:0.9rem;
        font-size: 1.7rem;
        color: black;
        background: white;
        border-radius: .8rem;
        margin: .6rem 0;
        font-family:'sans-serif';
        justify-content: center;
  }
  #card{
    width: 100%;
    padding:0.9rem;
    font-size: 1.7rem;
    color: black;
    background: white;
    border-radius: .8rem;
    margin: .6rem 0;
    font-family:'sans-serif';
    justify-content: center;

  }
  .first{
    width: 100%;
    padding:0.9rem;
    font-size: 1.7rem;
    color: black;
    background: white;
    border-radius: .8rem;
    margin: .6rem 0;
    font-family:'sans-serif';
    justify-content: center;
  }
  .visit--firstname-label{
    font-size: 1.9rem;
   margin-bottom: -20%;
   margin-left: -9%;
  }
  .visit-surname-label{
    font-size: 1.9rem;
   height: -9rem;
  }
  .visit-third-label{
    font-size: 1.9rem;
    margin-right:5rem;
  }
  .visit-fouth-label{
    font-size: 2rem;

  }
  .visit-fith-label{
    font-size: 1.9rem;
  }
  .visit h2{
    padding: 2rem;
  }
  .visitus2{
    margin-right: 35rem;
  }
  .city{
   font-size: 2.9rem;
  }
  .mobile{
    font-size: 2.9rem;
  }
  .pesonalemail{
    font-size: 2.9rem;
  }
  .buttny{
   margin-bottom: -12%;
   margin-left: -5%;
 
  }
  .visitpeople{
    margin-left: 80%;
     max-width:40rem;
      margin: 2rem auto;
      text-align: center;
      margin-bottom: -8rem;
      margin-top: -0.1rem;
      background-color:  rgb(208,185,153);
      height: 60rem;
     width: 65rem;
     margin-right: 40%;
     margin-top: 30rem;
  
  }
  .visitfirst4{
    width: 100%;
    padding:0.9rem;
    font-size: 1.7rem;
    color: black;
    background: white;
    border-radius: .8rem;
    margin: .6rem 0;
    font-family:'sans-serif';
    justify-content: center;
  }